.side__bar
  .side__bar__header
    .side__bar__header__box
      %h3.side__bar__header__box__name
        = current_user.name
      .side__bar__header__box__icon
        .side__bar__header__box__icon__edit
          = link_to "#", class:"top-icon" do  
            = icon('fas', 'edit')
        .side__bar__header__box__icon__cog
          = link_to edit_user_path(current_user), class:"top-icon" do
            = icon('fas', 'cog')
  .side__bar__main
    .side__bar__main__group
      %p.side__bar__main__groupname
        techcamp
      %p.side__bar__main__text
        まだメッセージがありません