.side__bar
  .side__bar__header
    .side__bar__header__box
      %h3.side__bar__header__box__name
        = current_user.name
      .side__bar__header__box__icon
        .side__bar__header__box__icon__edit
          = link_to new_group_path, class:"top-icon" do  
            = icon('fas', 'edit')
        .side__bar__header__box__icon__cog
          = link_to edit_user_path(current_user), class:"top-icon" do
            = icon('fas', 'cog')
  .side__bar__main
    - current_user.groups.each do |group|
      .side__bar__main__group
        = link_to '#', class:"side__bar__main__group__link" do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
